<template>
  <aside
    :class="[
      'main-sidebar',
      'col-12',
      'col-md-3',
      'col-lg-2',
      'px-0',
      sidebarVisible ? 'open' : ''
    ]"
  >
    <div class="main-navbar">
      <nav
        class="navbar align-items-stretch navbar-light bg-white flex-md-nowrap border-bottom p-0"
      >
        <a class="navbar-brand w-100 mr-0" href="#" style="line-height: 25px;">
          <div class="d-table m-auto">
            <img
              id="main-logo"
              class="d-inline-block align-top mr-1"
              style="max-width: 25px;"
              src="@/assets/logo.png"
              alt="Shards Dashboard"
            />
            <span class="d-none d-md-inline ml-1">
              Shards Dashboard
            </span>
          </div>
        </a>
        <a
          class="toggle-sidebar d-sm-inline d-md-none d-lg-none"
          @click="handleToggleSidebar()"
        >
          <i class="material-icons">&#xE5C4;</i>
        </a>
      </nav>
    </div>

    <form
      action="#"
      class="main-sidebar__search w-100 border-right d-sm-flex d-md-none d-lg-none"
    >
      <div class="input-group input-group-seamless ml-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <i class="fas fa-search"></i>
          </div>
        </div>
        <input
          class="navbar-search form-control"
          type="text"
          placeholder="Search for something..."
          aria-label="Search"
        />
      </div>
    </form>

    <div class="nav-wrapper">
      <d-nav class="flex-column">
        <li class="nav-item dropdown">
          <d-link class="nav-link" to="/home">
            <div class="item-icon-wrapper">
              <i class="material-icons">&#xE8B8;</i>
            </div>
            <span>Simon</span>
            <div class="item-icon-wrapper" />
          </d-link>
        </li>
        <li class="nav-item dropdown">
          <d-link class="nav-link" to="/activities">
            <div class="item-icon-wrapper">
              <i class="material-icons">local_activity</i>
            </div>
            <span>Actividades</span>
            <div class="item-icon-wrapper" />
          </d-link>
        </li>
        <!-- <li class="nav-item dropdown">
          <d-link class="nav-link" to="/chargesdom">
            <div class="item-icon-wrapper">
              <i class="material-icons">credit_card</i>
            </div>
            <span>Cobros domiciliados</span>
            <div class="item-icon-wrapper" />
          </d-link>
        </li> -->
        <li class="nav-item dropdown">
          <d-link class="nav-link" to="/charges">
            <div class="item-icon-wrapper">
              <i class="material-icons">attach_money</i>
            </div>
            <span>Cobros</span>
            <div class="item-icon-wrapper" />
          </d-link>
        </li>
        <li class="nav-item dropdown">
          <d-link class="nav-link" to="/payments">
            <div class="item-icon-wrapper">
              <i class="material-icons">account_balance_wallet</i>
            </div>
            <span>Pagos</span>
          </d-link>
        </li>
        <li class="nav-item dropdown">
          <d-link class="nav-link" to="/users">
            <div class="item-icon-wrapper">
              <i class="material-icons">account_circle</i>
            </div>
            <span>Usuario</span>
          </d-link>
        </li>
      </d-nav>
    </div>
  </aside>
</template>

<script>
export default {
  name: "main-sidebar",
  data() {
    return {
      sidebarVisible: false
    };
  },
  created() {
    this.$eventHub.$on("toggle-sidebar", this.handleToggleSidebar);
  },
  beforeDestroy() {
    this.$eventHub.$off("toggle-sidebar");
  },
  methods: {
    handleToggleSidebar() {
      this.sidebarVisible = !this.sidebarVisible;
    }
  }
};
</script>

<style lang="scss">
.main-sidebar {
  .item-icon-wrapper {
    display: inline-block;
  }
  .dropdown-menu {
    display: block;
  }
}
</style>
