<template>
  <d-container fluid class="main-content-container px-4">
    <div class="row pa3">
      <h1 class="f2 w-100 border-bottom">
        Actividades
        <button class="btn btn-primary float-right mt2" v-on:click="toggleNewActivity">
          Nueva actividad
          <i class="material-icons">add</i>
        </button>
      </h1>
    </div>
    <div class="row" v-if="isAdding">
      <div class="col-8 offset-2">
        <div class="card">
          <div class="row">
            <div class="col-4">
              <div class="imgsrc-container">
                <textarea
                  type="text"
                  name="descripcion"
                  class="form-control"
                  v-model="imgsrc"
                  placeholder="Url de la imagen"
                />
              </div>
            </div>
            <div class="col-8 pa3 row">
              <div class="col-6">
                <input
                  type="text"
                  v-model="name"
                  placeholder="Nombre"
                  name="nombre"
                  class="form-control"
                />
              </div>
              <div class="col-6">
                <div class="row">
                  <d-datepicker
                    v-model="date"
                    placeholder="Elegir fecha"
                    typeable
                    class="col-7"
                    small
                  />
                  <vue-timepicker v-model="time" class="form-control col-5"></vue-timepicker>
                </div>
              </div>
              <div class="col-12 row mt3">
                <h5 class="mt1 mb0 dib col-4">Capacidad:</h5>
                <input
                  type="text"
                  v-model="capacity"
                  name="participantes"
                  class="form-control col-3"
                />
              </div>
              <div class="col-12 mt2">
                <h5>
                  Descripción:
                  <textarea
                    type="text"
                    name="descripcion"
                    class="form-control"
                    v-model="description"
                  />
                </h5>
              </div>
              <div class="col-12 row tc">
                <button class="btn btn-success offset-2 col-8" @click="addActivity">Guardar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mb4">
      <div class="col-8 offset-2 mt4" v-for="(activity, index) in getActivities" v-bind:key="activity._id">
        <div class="card">
          <div class="row">
            <div class="col-4">
              <img
                class="img-fluid h-100 w-100"
                :src="activity.imgsrc"
                alt="activity image"
              />
            </div>
            <div class="col-8 pa3 row">
              <div class="col-6">
                <input
                  v-if="currentEdit === index"
                  type="text"
                  name="nombre"
                  v-model="activity.name"
                  class="form-control"
                />
                <h4 v-else>{{ activity.name }}</h4>
              </div>
              <div class="col-5">
                <div class="row" v-if="currentEdit === index">
                  <d-datepicker
                    v-model="activity.date"
                    placeholder="Elegir fecha"
                    typeable
                    class="col-7"
                    small
                  />
                  <vue-timepicker v-model="activity.time" class="form-control col-5"></vue-timepicker>
                </div>
                <h5 v-else>{{ activity.date | date }}</h5>
              </div>
              <div class="col-1">
                <span
                  class="badge badge-warning rounded pointer:hover br-pill-edit"
                  v-on:click="toggleEdit(activity, index)"
                >
                  <i class="material-icons">edit</i>
                </span>
                <span
                  v-if="currentEdit !== index"
                  class="mt2 badge badge-danger rounded pointer:hover br-pill-delete"
                  @click="toggleDelete(activity._id)"
                  v-b-modal.modal-delete
                >
                  <i class="material-icons">delete</i>
                </span>
              </div>
              <div class="col-12">
                <div class="mt1 mb0 dib col-12 pa0">
                  <div v-if="currentEdit === index" class="col-12 pa0">
                    <h5 class="col-4 dib pa0">Capacidad:</h5>
                    <input
                      type="text"
                      v-model="activity.capacity"
                      name="participantes"
                      class="form-control col-3 dib"
                    />
                    <!-- <input type="text" name="participantes" class="form-control" /> -->
                  </div>
                  <span v-else>
                    <h5 class="dib">Participantes:
                    {{ activity.peopleAttending.length }} / {{ activity.capacity }}
                    </h5>
                  </span>
                </div>
              </div>
              <div class="col-12">
                <h5>
                  Estado:
                  <select 
                    v-model="activity.state"
                    v-if="currentEdit === index"
                    class="form-control">
                    <option value="Agendado">Agendado</option>
                    <option value="En proceso">En proceso</option>
                    <option value="Pospuesto">Pospuesto</option>
                    <option value="finalizado">Finalizado</option>
                  </select>
                  <span v-else class="green">
                    {{ activity.state }}
                  </span>
                </h5>
              </div>
              <div class="col-12">
                <h5>
                  Descripción:
                  <input
                    v-if="currentEdit === index"
                    type="text"
                    name="descripcion"
                    v-model="activity.description"
                    class="form-control"
                  />
                  <span class="f6" v-else>
                    {{ activity.description }}
                  </span>
                </h5>
              </div>
              <div class="col-12 row tc">
                <button
                  class="btn btn-success offset-2 col-8"
                  v-if="currentEdit === index"
                  @click="editActivity(activity)">
                  Editar
                </button>
                <button class="btn btn-primary offset-2 col-8" v-else @click="addAttendance(activity._id)">Asistir</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->
    <b-modal
      class="modal fade"
      id="modal-delete"
      title="Delete activity"
      hide-backdrop
      content-class="shadow"
      @ok="deleteActivity"
    >
      <h5 class="modal-title" id="deleteModalLabel">Are you sure?</h5>
      <div class="modal-body">
        Vas a eliminar la actividad
      </div>
    </b-modal>
  </d-container>
</template>

<script>
import { mapGetters } from 'vuex';
let storeModule = "activities";
import VueTimepicker from 'vue2-timepicker'

export default {
  name: "activities",
  components: {
    VueTimepicker
  },
  data() {
    return {
      currentEdit: null,
      isAdding: false,
      name: null,
      date: null,
      time: null,
      imgsrc: null,
      description: null,
      capacity: 0,
      deleteId: null
    };
  },
  methods: {
    addZero(i) {
      if (i < 10) {
        i = "0" + i;
      }
      return i;
    },
    toggleEdit(activity, index) {
      const date = new Date(activity.date);
      activity.time = {
        HH: date.getHours().toString(),
        mm: this.addZero(date.getMinutes()).toString()
      }
      activity.date = date;
      if (index == this.currentEdit){
        this.currentEdit = null;
      }else{
        this.currentEdit = index;
      }
    },
    toggleNewActivity() {
      this.isAdding = !this.isAdding;
    },
    toggleDelete(id) {
      this.deleteId = id;
      console.log(this.deleteId);
    },
    addActivity(){
      const data = {
        name: this.name,
        date: this.date,
        imgsrc: this.imgsrc,
        description: this.description,
        capacity: this.capacity
      }
      data.date.setHours(this.time.HH);
      data.date.setMinutes(this.time.mm);
      this.$store.dispatch(`${storeModule}/create`, data).then(()=>{
        this.isAdding = false;
        this.capacity = null,
        this.name = null,
        this.date = null,
        this.imgsrc = null,
        this.description = null
      })
    },
    addAttendance(activity_id){
      console.log(activity_id);
      const data = {
        activity_id: activity_id,
        peopleAttending: {
          
        }
      }
    },
    obtainActivities(){
      this.$store.dispatch(`${storeModule}/get`)
    },
    editActivity(activity) {
      const pplatt = activity.peopleAttending;
      delete activity.peopleAttending;
      activity.date.setHours(activity.time.HH);
      activity.date.setMinutes(activity.time.mm);
      console.log(activity._id)
      this.$store.dispatch(`${storeModule}/update`, activity).then(()=>{
        console.log("sih");
        this.currentEdit = null;
        activity.peopleAttending = pplatt;
      })
    },
    deleteActivity() {
      this.$store.dispatch(`${storeModule}/delete`, this.deleteId)
    }
  },
  computed: {
    ...mapGetters(storeModule, ["getActivities"])
  },
  mounted(){
    this.obtainActivities();
  }
};
</script>

<style lang="scss">
.br-pill-edit {
  border-radius: 9999px !important;
  height: 32px;
  cursor: pointer !important;
  border: 2px solid #ffb400;
  i {
    font-size: 0.8rem;
  }
  &:hover {
    background-color: white;
  }
}
.br-pill-delete {
  border-radius: 9999px !important;
  height: 32px;
  cursor: pointer !important;
  border: 2px solid #c4183c;
  i {
    font-size: 0.8rem;
  }
  &:hover {
    background-color: white;
    color: black;
  }
}
.imgsrc-container{
    height: 100%;
    display: flex;
    padding: 30px;
}
.display-time{
    width: 100% !important;
    border: none !important;
    height: 100% !important;
    padding: 0 !important;
}
.vdp-datepicker:not(:last-child) input{
  border-radius: 0.25rem !important;
}
</style>