<template>
  <d-container fluid class="main-content-container px-4">
    <div class="row pa3">
      <h1 class="f2 w-100 border-bottom">
        Cobros domiciliados
        <button class="btn btn-primary float-right mt2" v-on:click="newCharge">
          Nuevo Cobro
          <i class="material-icons">add</i>
        </button>
      </h1>
    </div>
    <div class="row row-eq-height pb4">
      <div v-if="isAdding" class="col-6">
        <div class="card card-add h-100">
          <d-form validated>
            <div class="card-header border-bottom">
              <label class="b" for="nombre">Nombre del cobro:</label>
              <input type="text" name id="nombre" required placeholder="Nombre" class="form-control" />
            </div>
            <div class="card-body">
              <div class="form-group">
                <label class="b" for="descripcion">Descripción:</label>
                <input id="descripcion" type="text" name class="form-control" required />
                <d-form-invalid-feedback>Indica una descripción</d-form-invalid-feedback>
              </div>
              <div class="form-group mt3">
                <label class="b" for="tipo">Tipo:</label>
                <d-select required id="tipo">
                  <option>Choose</option>
                  <option>...</option>
                </d-select>
                <d-form-invalid-feedback>Indica un tipo de cobro</d-form-invalid-feedback>
              </div>
              <div class="form-group mt3">
                <label class="b" for="cantidad">Cantidad:</label>
                <input
                  class="form-control"
                  type="number"
                  name="cantidad"
                  id="cantidad"
                  required
                  step="0.01"
                />
                <d-form-invalid-feedback>Indica una cantidad valida</d-form-invalid-feedback>
              </div>
              <div class="form-group mt3">
                <label class="b" for="grupo">Aplicar a:</label>
                <d-select required id="grupo">
                  <option>Choose</option>
                  <option>...</option>
                </d-select>
                <d-form-invalid-feedback>Indica un grupo al cual aplicar el pago</d-form-invalid-feedback>
              </div>
              <div class="form-group pb2">
                <button class="btn btn-primary float-right">Agregar</button>
              </div>
            </div>
          </d-form>
        </div>
      </div>
      <div class="col-6">
        <div class="card h-100">
          <div class="card-header border-bottom">
            <h4 class="mb0">Nuev</h4>
          </div>
          <div class="card-body">
            <d-form validated>
              <div class="form-group">
                <p class="b mb0">Descripción:</p>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                  Maxime, facere expedita! Totam nostrum nesciunt, magnam
                  voluptatum obcaecati quia dolores impedit fugit expedita
                  odit sequi reiciendis nam dignissimos atque repudiandae culpa
                </p>
                <d-form-invalid-feedback>Indica una descripción</d-form-invalid-feedback>
              </div>
              <div class="form-group mt3">
                <p class="b mb0">Tipo:</p>
                <p>Mensual</p>
              </div>
              <div class="form-group mt3">
                <p class="b mb0">Cantidad:</p>
                <p>$403213</p>
              </div>
              <div class="form-group mt3">
                <p class="b mb0">Aplicado a:</p>
                <p>Residentes</p>
              </div>
            </d-form>
          </div>
        </div>
      </div>
    </div>
  </d-container>
</template>

<script>

let storeModule = "charges";

export default {
  name: "ChargesDom",
  data() {
    return {
      isAdding: 0,
      description: null,
      amount: 0,
      name: null
    };
  },
  methods: {
    newCharge() {
      this.isAdding = !this.isAdding;
      console.log("suh");
    },
    deleteActivity() {
      console.log("deleted");
    },
    newActivity() {
      console.log("nueva actividad");
    },
    obtainTypes() {
      this.$store.dispatch(`${storeModule}/getTypes`);
    }
  },
  mounted(){
    this.obtainTypes();
  }
};
</script>