<template>
  <d-container fluid class="main-content-container px-4">
    <div class="row pa3">
      <h1 class="f2 w-100 border-bottom">
        Cobros
        <button class="btn btn-primary float-right mt2" v-on:click="newCharge">
          Nuevo Cobro
          <i class="material-icons">add</i>
        </button>
      </h1>
    </div>
    <div class="row row-eq-height pb4">
      <div class="card col-12 p-0 pb-3 text-center">
        <table class="table mb-0">
          <thead class="bg-light">
            <tr>
              <th scope="col" class="border-0">#</th>
              <th scope="col" class="border-0">Residente</th>
              <th scope="col" class="border-0">Casa</th>
              <th scope="col" class="border-0">Titulo</th>
              <th scope="col" class="border-0">Descripción</th>
              <th scope="col" class="border-0 tl">Cantidad</th>
              <th scope="col" class="border-0">Status</th>
              <th scope="col" class="border-0"></th>
            </tr>
          </thead>
          <tbody>
            <tr v-if="isAdding">
                <td></td>
                <td><input type="text" v-model="user_id" class="form-control"></td>
                <td><input type="text" v-model="houseId" class="form-control"></td>
                <td><input type="text" v-model="name" class="form-control"></td>
                <td><input type="text" v-model="description" class="form-control"></td>
                <td>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">$</div> 
                    </div>
                    <input type="number" v-model="amount" step="0.01" name="" class="form-control">
                  </div>
                </td>
                <td><button class="btn btn-success" @click="createCharge">Crear</button></td>
                <td></td>
            </tr>
            <tr v-for="(charge, index) in getCharges" v-bind:key="charge._id">
              <td>{{ index + 1 }}</td>
              <td>{{ charge.users[0].user_id }}</td>
              <td></td>
              <td>{{ charge.name }}</td>
              <td>{{ charge.description }}</td>
              <td class="tl">$ {{ charge.amount }}</td>
              <td>{{ charge.users[0].state }}</td>
              <td><button class="btn btn-primary" v-if="charge.users[0].state === 'En proceso'" @click="validate(charge)">Validar</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </d-container>
</template>

<script>
import { mapGetters } from 'vuex';
let storeModule = "charges";

export default {
    name: "Charges",
    data(){
        return {
            isAdding: false,
            user_id: null,
            houseId: null,
            description: null,
            amount: 0,
            name: null
        }
    },
    methods: {
        newCharge(){
            this.isAdding = true;
        },
        createCharge(){
          this.$store.dispatch(`${storeModule}/create`,{
              user: this.user_id,
              amount: this.amount,
              description: this.description,
              name: this.name
          }).then(()=>{
            this.isAdding = false;
            this.user_id = null;
            this.houseId = null;
            this.description = null;
            this.amount = 0;
            this.name = 0;
          })
        },
        validate(charge) {
          const data = {
            idUser: charge.users[0].user_id,
            idPayment: charge._id,
            body: {
              state: "pagado"
            }
          }
          this.$store.dispatch(`${storeModule}/validate`, data)
        },
        obtainCharges(){
          this.$store.dispatch(`${storeModule}/get`)
        }
    },
    computed:{
      ...mapGetters(storeModule, ["getCharges"])
    },
    mounted(){
      this.obtainCharges();
    }
};
</script>
