<template>
  <d-container fluid class="main-content-container px-4">
    <!-- Page Header -->
    <d-row no-gutters class="page-header py-4">
      <d-col col sm="4" class="text-center text-sm-left mb-4 mb-sm-0">
        <span class="text-uppercase page-subtitle">Dashboard</span>
        <h3 class="page-title">Personal Blog</h3>
      </d-col>
    </d-row>
    <d-row>
      <!-- Users Overview -->
      <d-col lg="8" md="6" sm="12" class="mb-4"></d-col>

      <!-- Users by Device (lite) -->
      <d-col lg="4" md="6" sm="12" class="mb-4"></d-col>
    </d-row>

    <d-row>
      <!-- New Draft -->
      <d-col lg="4" md="6" sm="12" class="mb-4"></d-col>

      <!-- Discussions -->
      <d-col lg="5" md="12" sm="12" class="mb-4"></d-col>

      <!-- Top Referrals -->
      <d-col lg="3" md="12" sm="12" class="mb-4"></d-col>
    </d-row>
  </d-container>
</template>

<script>
export default {};
</script>
