<template>
  <d-container fluid class="main-content-container px-4">
    <div class="row pa3">
      <h1 class="f2 w-100 border-bottom">Pagos pendientes</h1>
    </div>
    <div class="row">
      <div class="col-6">
        Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Autem, amet suscipit nobis nam dolor recusandae nostrum
        quos quasi ducimus facilis omnis minus dicta non illum unde
        inventore et necessitatibus cum?
      </div>
      <div class="col-6 tc" @click="expandPayments">
        <div class="card pa3 shadow-hover">
          <h5 class="pt3">Debes la suma de:</h5>
          <h3>${{ getTotal }} MXN</h3>
          <p class="mb1">Por favor depositar al numero de cuenta</p>
          <p class="b">421  3214512309</p>
        </div>
      </div>
    </div>
    <div class="row" v-if="expand">
      <h1 class="col-12">Desglose de pagos pendientes</h1>
      <div class="col-6 mb4"
        v-for="payment in getPayments"
        v-bind:key="payment._id">
        <div class="card pa3">
          <div class="row">
            <div class="col-8">
              <h5>Pago: {{ payment.name }}</h5>
              <h4>$ {{ payment.amount }}</h4>
              <p class="mb2">Número de cuenta a depositar:</p>
              <p class="b">418431235213141</p>
            </div>
            <div class="col-4">
              <textarea class="form-control" v-model="payment.users.imgsrc" />
              <div>
              </div>
              <button 
                class="btn btn-primary col-12 mt2"
                @click="agregarComprobante(payment)">
                Agregar
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row pa3">
      <h1 class="f2 w-100 border-bottom">Historial de pagos</h1>
    </div>
    <div class="row">
      <ul>
        <li v-for="payment in getOldPayments" v-bind:key="payment._id">
          <div class="list-item">
            <h4>{{ payment.name }}</h4>
            <h4>${{ payment.amount }}</h4>
            <p>Descripción: {{ payment.description }}</p>
          </div>
        </li>
        <li v-if="getOldPayments.length == 0">
          <h4>no existen pagos anteriores registrados</h4>
        </li>
      </ul>
    </div>
  </d-container>
</template>

<script>
import { mapGetters } from 'vuex';
let storeModule = "payments";

export default {
  name: "Payments",
  data() {
    return {
      total: 0,
      expand: false,
      comprobante: "https://tmssl.akamaized.net/images/portrait/originals/25412-1447315328.jpg"
    };
  },
  methods: {
    expandPayments() {
      this.expand = !this.expand;
    },
    obtainPayments(status) {
      this.$store.dispatch(`${storeModule}/getByUser`, status).then(result=>{
        if(status === "Por pagar"){
          this.getTotal;
        }
      })
    },
    agregarComprobante(payment) {
      const data = {
        idPayment: payment._id,
        idUser: payment.users.user_id,
        body:{
          imgsrc: payment.users.imgsrc,
          state: "En proceso"
        }
      }
      this.$store.dispatch(`${storeModule}/addComprobante`, data).then(()=>{
        this.getTotal;
      })
    }
  },
  computed: {
    ...mapGetters(storeModule, ["getPayments", "getOldPayments"]),
    getTotal: function(){
      if(this.getPayments.length > 0){
        return this.getPayments
          .map(payment => payment.amount)
          .reduce((a, b) => a + b);
      }
    }
  },
  mounted() {
    this.obtainPayments("Por pagar");
    this.obtainPayments("pagado");
  }
};
</script>

<style lang="scss">
.dropbox {
  outline: 2px dashed grey; /* the dash box */
  outline-offset: -10px;
  background: lightcyan;
  color: dimgray;
  padding: 10px 10px;
  position: relative;
  cursor: pointer;
  min-height: 100px;
  transition: all 0.3s ease;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 100px;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  background: lightyellow; /* when mouse over to the drop zone, change color */
}

.dropbox p {
  font-size: 1.2em;
  text-align: center;
  padding: 20px 10px;
  margin-bottom: 0;
}
</style>