<template>
    <d-container fluid>
    <d-row>
      <!-- Main Sidebar -->
      <!-- <main-sidebar /> -->
      <d-col
        class="main-content offset-lg-2 offset-md-3 p-0"
        tag="main"
        lg="10"
        md="9"
        sm="12"
      >
        <!-- Main Navbar -->

        <!-- Content -->
        
            <div v-if="creating">
                <b-form >
                    <b-form-group
                    id="input-group-1"
                    label="Email address:"
                    label-for="input-1"
                    description="We'll never share your email with anyone else."
                    >
                    <b-form-input
                    id="input-1"
                    type="email"
                    v-model="form.email"
                    required
                    placeholder="Enter email"
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    id="input-group-2"
                    label="Name:"
                    label-for="input-2"
                    >
                    <b-form-input
                    id="input-2"
                    type="name"
                    v-model="form.name"
                    required
                    placeholder="Enter name"
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    id="input-group-3"
                    label="Last Name:"
                    label-for="input-3"
                    >
                    <b-form-input
                    id="input-3"
                    type="lastname"
                    v-model="form.lastname"
                    required
                    placeholder="Enter last name"
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    id="input-group-4"
                    label="Username:"
                    label-for="input-4"
                    >
                    <b-form-input
                    id="input-4"
                    type="username"
                    v-model="form.username"
                    required
                    placeholder="Enter Username"
                    ></b-form-input>
                    </b-form-group>

                    <b-form-group
                    id="input-group-5"
                    label="User type:"
                    label-for="input-5"
                    
                    >
                    <b-form-select
                    id="input-5"
                    type="usertype"
                    required
                    placeholder="Enter user type"
                    v-model="form.usertype"
                    :options="usertype"
                    ></b-form-select>
                    </b-form-group>
                    <b-button type="submit" variant="primary">Create</b-button>
                </b-form>
            </div>
<div v-else>
  <b-container>
    <b-row>
      
      <b-col>
  <b-card
    title="Casa"
    img-src="https://images.pexels.com/photos/106399/pexels-photo-106399.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>
Consultar información sobre tu casa   
 </b-card-text>

    <b-button href="#" variant="primary">Ver Casas</b-button>
  </b-card>
  </b-col>
  <b-col>
  <b-card
    title="Ajustes"
    img-src="https://images.pexels.com/photos/171198/pexels-photo-171198.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"
    img-alt="Image"
    img-top
    tag="article"
    style="max-width: 20rem;"
    class="mb-2"
  >
    <b-card-text>
      Ajustes del usuario
    </b-card-text>

    <b-button href="#" variant="primary">Ver Ajustes</b-button>
  </b-card>
  </b-col>
    </b-row>
  </b-container>
  </div>
        <!-- Main Footer -->
        <!-- <main-footer /> -->
      </d-col>
    </d-row>
  </d-container>
  
</template>

<script>
// @ is an alias to /src
import MainNavbar from "@/components/layout/MainNavbar.vue";
import MainSidebar from "@/components/layout/MainSidebar.vue";
import MainFooter from "@/components/layout/MainFooter.vue";
import { mapGetters } from "vuex";

let storeModule = "dashboard";

export default {
  name: "user",
  data() {
      return {
        creating:false,
        form: {
          email: '',
          name: '',
          lastname: '',
          username:'',
          usertype:''
        },
        usertype: [{ text: 'Selecciona uno', value: null }, 'Residente', 'Guardia', 'Administrador', 'Trabajador'],
        show: true
      }
    },
  components: {
    MainNavbar,
    MainSidebar,
    MainFooter
  },
  computed: {
    ...mapGetters(storeModule, ["getUserName"])
  },
  methods: {
    getUserSession() {
      this.$store.dispatch(`${storeModule}/getUserSession`, { email: "1" });
    },
    createUser(){
        let data= {
                    email: this.form.email,
                    username: this.form.username,
                    name: this.form.name,
                    lastname: this.form.lastname,
                    usertype: this.form.usertype
                }
    }
  },
  mounted() {
    this.getUserSession();
  }
};
</script>
